.p-evening{
    &__family{
        &Text{
            text-align: center;
            margin-block: 117px 20px;
            .c-text1{
                line-height: 1.35;
            }
            h3{
                margin-top: 130px;
            }
        }
    }
    &__accept{
        text-align: center;
        margin-block: 103px 162px;
        .c-heading4{
            margin-bottom: 34px;
        }
        &Img{
            display: flex;
            margin-top: 159px;
        }
        &Item{
            width: calc((100% / 3) - 59px);
            height: 356px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border-radius: 20px;
            &:not(:last-child) {
                margin-right: 89px;
            }
        }
    }
}
@include media-breakpoint-tab{
    .p-evening{
        &__accept{
            &Item{
                width: calc((100% / 3) - 10px);
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
    }
}
@include media-breakpoint-sp{
    .p-evening{
        &__accept{
            &Img{
                flex-direction: column;
            }
            &Item{
                width: 100%;
                height: 230px;
                margin-bottom: 20px;
                
            }
        }
    }
}